@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

#main-panel {
    width: 800px;
    min-width: 800px;
    overflow: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    display: flex;
    flex-flow: column nowrap;
}

#source-code-container {
    flex: 1;
}

#toolbar {
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 171, 171);
    height: 44px;
    flex: 0 0 auto;
    align-items: center;
    padding: 0 8px;
    z-index: 10;
}

.toolbar-item {
    display: flex;
    flex-flow: row nowrap;
}

.toolbar-item-label {
    padding-right: 8px;
}

#inspector {
    flex: 1;
}

.replacement {
    background-color: yellow;
    cursor: pointer;
    border-radius: 2px;
}

.replacement:hover {
    background-color: orange;
}

.empty-node::before {
    content: "∅";
}

#inspector h2 {
    margin-top: 0;
}

.section {
    margin-bottom: 16px;
}

.list-item {
    cursor: pointer;
    color: blue;
    border-radius: 2px;
}

.list-item:hover {
    color: darkblue;
}

@keyframes jumpOut {
    0%, 100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(1.1);
    }
  }

.highlight {
    outline: thick double #32a1ce;
    animation: jumpOut 0.8s ease-in-out 2;
}

/* Styles for Replacement Preview */
#replacement-preview {
    background-color: #e8e8e8;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
    font-family: "IBM Plex Mono", monospace;
    white-space: pre-wrap;
}

pre {
    font-family: "IBM Plex Mono", monospace;
}

.highlight-original {
    background-color: #ffcccc; /* Light red */
}

.highlight-new {
    background-color: #ccffcc; /* Light green */
}

.preview-before {
    color: #555;
}

.preview-after {
    color: #555;
}

#source-code {
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace;
    line-height: 1.6em;
    padding: 0 16px;
}

#source-code-container {
    position: relative;
}

#arrow-container {
    position: absolute;
    pointer-events: none;
}

.null::before {
    content: "∅";
}

.replacement {
    position: relative;
    display: inline-block;
}

.node-type-icons {
    position: absolute;
    bottom: -13px;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    z-index: 5;
}

.node-type {
    border-radius: 6px;
    font-size: 10px;
    background-color: darkblue;
    color: white;
    display: block;
    padding: 2px 4px;
    margin: 0 1px;
    float: left;
    min-width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
}

#inspector {
    display: flex;
    flex-flow: column nowrap;
}

.inspector-section {
    flex: 1;
    padding: 16px;
    overflow: auto;
}

.legend-section {
    position: sticky;
    bottom: 0;
    padding: 16px;
    background-color: white;
    border-top: 1px solid #ccc;
}

.replacement.applied {
    background-color: #ccffcc;
}

.list-item:hover {
    outline: thick double #32a1ce;
}

.node-type.is-buffer {
    background-color: crimson;
}

#node-internals {
    overflow-x: auto; /* Adds a horizontal scroll bar if the content overflows */
    white-space: pre-wrap; /* Preserves line breaks and spaces, but allows wrapping */
    word-wrap: break-word; /* Breaks long words if necessary */
    font-family: "IBM Plex Mono", monospace;
    color: #666;
    border: 1px solid #ccc;
}
